<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Services.plist
   githubRepo

   Created by Qantas Dev on 23/7/19.
   Copyright (c) 2019 Farahani Consulting. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Github</key>
        <dict>
            <key>baseUrl</key>
            <string>https://github.com/login/oauth/authorize</string>
            <key>consumerKey</key>
            <string>2402103c37bf5256554d</string>
            <key>consumerSecret</key>
            <string>8aa802ff9c6303e52a0fc16e59d3e826ac87e6c1</string>
            <key>authorizeUrl</key>
            <string>https://github.com/login/oauth/authorize</string>
            <key>accessTokenUrl</key>
            <string>https://github.com/login/oauth/access_token</string>
            <key>callBackURL</key>
            <string>eduRepo://oauth2Callback</string>
            <key>repoUrl</key>
            <string>https://api.github.com/user/repos</string>
        </dict>
    </dict>
</plist>
